.landing-splash {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 28pt;
  padding: 0;
  h1 {
    color: #f5f5f5;
    padding: 0em;
    margin: 0;
  }
  h4 {
    color: #f1f1f1;
    padding: 0em;
    margin: 0;
  }
  button {
    margin: 0.2em;
  }
}
