<mat-card class="dashboard-card">
  <mat-card-title class="dashboard-title">Menu</mat-card-title>
  <mat-card-content>
    <mat-expansion-panel class="navigation-section" *ngIf="user?.isAdmin">
      <mat-expansion-panel-header>
        Admin
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-button routerLink="/dashboard/admin/user/all">
          Users
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="navigation-section">
      <mat-expansion-panel-header>
        Manage
      </mat-expansion-panel-header>
      <div class="panel-content">
        <button mat-button routerLink="/dashboard/manage/account">
          Account
        </button>
        <button mat-button routerLink="/dashboard/manage/groups">
          Groups
        </button>
        <button mat-button routerLink="/dashboard/manage/session/all">
          Sessions
        </button>
      </div>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
